services:
  db:
    image: postgres:15-alpine
    container_name: Dozentenverwaltung_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: Dozentenverwaltung
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build: .
    container_name: Dozentenverwaltung_server
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_NAME=Dozentenverwaltung
      - DB_PORT=5432
      - NODE_ENV=production
volumes:
  postgres_data:
